<div class="container">
  <h2>Upcoming Movies</h2>
  <div class="row">
    <div class="col-lg-4 col-sm-6 movie-item" *ngFor="let md of movieData; let i=index">
      <div class="card h-100" *ngIf="i<6">
        <a href="#">
          <img class="card-img-top" src="http://image.tmdb.org/t/p/w500/{{md.backdrop_path}}" alt="">
        </a>
        <div class="card-body" >
          <h4 class="card-title">
            <a href="#">{{md.title}}</a>
          </h4>
          <p class="card-text">Release Date : {{md.release_date}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  